@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;
  --breakpoint-big: 1400px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-skin: #e3cca4;
  --color-gray: #7e7e7e;
  --color-dark-gray: #282828;
  --color-light-gray: #eeeeee;

  --heading-1: 64px;
  --heading-2: 48px;
  --heading-3: 24px;
  --heading-4: 20px;
  --heading-5: 16px;

  --font-inter: "Inter", sans-serif;
  --font-sinkin-sans-bold: "sinkin-sans-bold";
  --font-sinkin-sans-regular: "sinkin-sans-regular";
}

@font-face {
  font-family: "sinkin-sans-bold";
  src: url("./assets/Fonts/sinkin-sans.700-bold.otf");
}
@font-face {
  font-family: "sinkin-sans-regular";
  src: url("./assets/Fonts/sinkin-sans.400-regular.otf");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  ::after,
  ::before,
  * {
    @apply box-border;
  }
  body {
    @apply m-0 p-0;
  }
  h1,
  .h1 {
    @apply uppercase text-[64px] 2xs:text-center leading-[74px] 2xs:leading-[30px] 500:leading-[50px] md:leading-[60px] lg:leading-[74px] 2xs:text-[25px] 500:text-[40px] md:text-[40px] lg:text-[50px] xl:text-[64px];
  }
  h2,
  .h2 {
    @apply uppercase text-[48px] leading-[58px] 
    2xs:text-[18px] 500:text-[24px] md:text-[30px] lg:text-[35px] xl:text-[48px] 
    2xs:leading-[30px] 500:leading-[35px] md:leading-[45px] lg:leading-[50px] xl:leading-[58px];
  }
  h3,
  .h3 {
    @apply uppercase text-[24px] 2xs:text-[18px] 500:text-[20px] md:text-[22px] lg:text-[24px] leading-[34px] text-white font-sinkin-sans-bold;
  }
  h4,
  .h4 {
    @apply uppercase text-[20px] 2xs:text-[18px] 500:text-[20px] text-white font-sinkin-sans-bold leading-[30px];
  }
  h5,
  .h5 {
    @apply text-base text-white font-inter;
  }
  p {
    @apply font-inter text-dark-gray text-base leading-[19px];
  }
  a {
    @apply font-inter;
  }
  span {
    @apply font-inter;
  }
  ul {
    @apply cursor-pointer;
  }
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .vertical-divider {
    @apply min-w-[3px] bg-gray items-center h-full 2xs:hidden lg:block;
  }
  .p2 {
    @apply 2xs:text-[18px] 500:text-[20px] md:text-[22px] lg:text-[24px] 2xs:leading-5! xs:leading-6! sm:leading-7! lg:leading-[29px]!;
  }
}

@layer components {
  .container-md {
    @apply 2xs:px-5 sm:px-7 md:px-[55px];
  }
  .btn {
    @apply py-[5.5px] px-[23.5px] border-2 border-skin text-skin font-inter font-bold uppercase cursor-pointer transition-all duration-700 ease-in-out;
  }
  .black-border-btn {
    @apply hover:bg-skin hover:border-skin hover:text-black;
  }
  .announcement-btn div {
    @apply 2xs:w-full 2xs:text-center sm:w-fit sm:justify-between content-center;
  }
  .bg-skin-btn {
    @apply bg-skin text-black! hover:bg-transparent! hover:text-skin! mt-[30px] w-fit!;
  }
  .menu-btn-full{
    @apply min-w-full my-4;
  }
  .content-container-right {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center my-20 2xs:my-[30px] 500:my-[60px] md:my-20;
  }
  .inner-container-right {
    @apply mr-[100px] py-5 2xs:mx-5 lg:ml-0 lg:mr-[100px] 2xs:py-0 lg:py-5;
  }
  .content-container-right-career {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center my-20 2xs:my-[30px] 500:my-[60px] md:my-[110px] lg:my-[159px];
  }
  .perks-and-benefits-section .card {
    @apply w-fit justify-items-center justify-self-center;
  }
  .job-opportunities-section .card-hover {
    @apply relative hover:cursor-pointer flex flex-col h-full justify-between gap-3.5;
  }
  .card-hover img {
    @apply justify-self-center w-full object-cover;
  }
  .content-container-left-what {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center 2xs:my-[30px] xs:my-[45px] 500:my-[70px] sm:my-[60px] md:my-[110px] lg:my-[180.5px];
  }
}

@layer utilities {
  nav > div:first-of-type {
    @apply text-white font-inter font-normal leading-[19px] tracking-[0.003em];
  }
  nav > div a {
    @apply hover:text-skin;
  }
  #mobileMenu li {
    @apply hover:text-gray-200 py-4 px-6;
  }
  nav img {
    @apply big:max-w-[297.54px] big:max-h-20 2xs:max-w-[180px] 2xs:max-h-20 500:max-w-[210px] 500:max-h-20;
  }
  nav button svg {
    @apply w-8 h-8 text-white cursor-pointer;
  }
  #announcement-bar,
  #mobileMenu {
    @apply bg-black;
  }
  #announcement-bar,
  #announcement-bar span,
  .experience h2,
  .experience p,
  .hero-section .hero-text {
    @apply text-white;
  }
  #img-container img {
    @apply w-full h-full object-cover;
  }
  p span {
    @apply block;
  }
  #img-container-careers {
    @apply relative max-w-[756px] min-h-[550px] 2xs:min-h-0 2xs:max-w-fit lg:w-7/3 xl:max-w-[756px] xl:min-h-[550px];
  }
  .link-effect {
    /* relative */
    @apply after:absolute after:inset-0 after:w-full after:h-full;
  }
  .bg-black {
    @apply bg-black;
  }
  .experience-section .container {
    @apply relative inset-0 text-center max-w-[1000px] justify-self-center py-20 2xs:px-5 lg:px-0;
  }
  .experience-main {
    @apply relative inset-0 text-center;
  }
  .featured-in-section .featured-in .img-1 {
    @apply h-fit self-center;
  }
  .horizontal-divider {
    @apply bg-gray h-[3px];
  }
  footer .main {
    @apply flex pt-10 justify-between pb-[55px] gap-5 max-[1150px]:flex-wrap;
  }
  footer a {
    @apply text-skin hover:underline;
  }
  .footer-heading a {
    @apply text-[24px] 2xs:text-base 500:text-[20px] md:text-[24px] text-skin font-inter font-bold;
  }
  .footer-experiance a {
    @apply text-skin font-inter font-normal block leading-[19px] mt-2.5;
  }
  footer .icons div {
    @apply bg-skin rounded-full w-fit h-fit py-2 hover:bg-gray;
  }
  footer span {
    @apply text-white font-bold font-inter leading-[19px];
  }
  .job-opportunities-section .heading {
    @apply text-black!;
  }
  .job-opportunities-section .a {
    @apply uppercase font-inter font-bold flex gap-2.5 items-center justify-center after:absolute after:inset-0 after:w-full after:h-full transition;
  }
  .perks-and-benefits-section .headeing {
    @apply text-white w-fit text-center mt-7;
  }
  /* who */
  #img-container-who {
    @apply relative max-w-[756px] min-h-[550px] 2xs:min-h-0 2xs:max-w-fit lg:w-7/3 xl:max-w-[756px] xl:min-h-[550px];
  }
  .inner-container-right {
    @apply mr-[100px] py-5 2xs:mx-5 lg:ml-0 lg:mr-[100px] 2xs:py-0 lg:py-5;
  }
  .content-container-right-who {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center my-20 2xs:my-[30px] 500:my-[60px] md:my-[110px] lg:my-[180.5px];
  }
  .who-section p,
  .what-section p,
  .When-section p,
  .Why-section p ,
  .how-section p{
    @apply text-gray! font-inter!;
  }
  .content-container-right-what {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center my-20 2xs:my-[30px] 500:my-[60px] md:my-[110px] lg:my-[172.5px];
  }
  .contant-how {
    @apply flex gap-10 2xs:gap-0 lg:gap-10 items-center my-20 2xs:my-[30px] 500:my-[60px] md:my-20 lg:my-[92.5px];
  }
  .where-gray-container{
    @apply bg-light-gray w-fit py-[55px] 2xs:py-5 sm:py-6 md:py-8 lg:py-10 xl:py-[55px];
  }
  .inner-container-right div div{
    @apply bg-white p-5 text-dark-gray leading-[19px];
  }
  footer .featured-in-section {
    @apply bg-black;
  }
  .swiper-contant .headeing{
    @apply text-[20px];
  }
  .swiper-contant img{
    @apply w-28 h-28;
  }
}

/* custom css */
.hero-gradiant {
  background: radial-gradient(
      114.6% 55.11% at 50% 58.09%,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%);
}
.img-gradiant-right {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 56.81%,
    #ffffff 100%
  );
}
.where-section .shedow {
  box-shadow: 0px 4px 20px 0px #00000033;
}
.img-gradiant-left {
  background: linear-gradient(90deg, #eeeeee 0%, rgba(238, 238, 238, 0) 25%);
}
.bg-bled {
  background-blend-mode: luminosity, normal;
}
.active_nav {
    /* bg-black max-w-full transition top-0 flex justify-between fixed w-full z-50  items-center py-5; */
    background-color: black !important;
    padding-block: 20px !important;
    transition: 0.3s ease;
    top: 0;
  }
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
  /* 0% {
    transform: translate3d(var(--move-initial, 0), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final, -100%), 0, 0);
  } */
}
.marquee {
  animation: marquee 20s linear infinite;
}
.marquee > * {
  flex-shrink: 0;
}
.swiper {
  width: 100%;
  /* position: relative; */
}

.swiper-slide {
  /* position: absolute; */
  text-align: center;
  font-size: 18px;
  height: auto !important;
}
